<div class="main">
  <br />
  <section>
    <div class="flex_card">
      <div class="card">
        <div class="tag">RECIPES</div>
        <h1>Herb-Infused Goat Cheese</h1>
        <p>
          Charcuterie boards are all the rage these days and for a good reason!
          Whether you’re winding down after a long day with an impromptu glass
          of wine, or you’re late for a fancy dinner party, throwing together a
          board with herb-infused goat cheese, grapes, and whatever cracker you
          have on hand is an instant win.
        </p>
      </div>
      <img
        src="/assets/images/The-Future-of-Farming.jpeg.webp"
        alt="The-Future-of-Farming.jpeg.webp"
      />
    </div>
  </section>
  <br />
  <section>
    <div class="flex_card">
      <div class="card">
        <div class="tag">GENERAL</div>
        <h1>Keep Your Herbs From Going Bad With These 5 Festive Recipes</h1>
        <p>
          Copiana’s vertical farms provide plentiful harvests – in fact, you
          might find that it’s difficult to use up all of your herbs before they
          go bad! However, there are plenty of fun things you can do in the
          kitchen with your extra herbs. You can use these recipes to add the
          delicious flavors of herbs
        </p>
      </div>
      <img
        src="/assets/images/keep-your-herbs-hero.jpg.webp"
        alt="keep-your-herbs-hero.jpg"
      />
    </div>
  </section>
  <section>
    <div class="info_card">
      <div>
        <h1>Bring a Farm to <span class="tag">Your</span> Property</h1>
        <p>
          Bring NASA'S farming technology to your community with seamless
          harvest events, expert maintenance, and nutrient-rich foods.
        </p>
      </div>

      <button class="btn">
        <span>Lern More</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </section>

  <section>
    <div class="flex_card">
      <div class="card">
        <div class="tag">GENERAL</div>
        <h1>What Is Green Leasing? Inside This Commercial Real Estate Trend</h1>
        <p>
          Over the past few years, we’ve seen a shift in the corporate world
          towards sustainable practices. Large corporations and small businesses
          alike are re-evaluating every aspect of their business to operate in a
          way that is more environmentally friendly and socially responsible.
        </p>
      </div>
      <img
        src="/assets/images/phuc-long-aqrIcYonB-o-unsplash-1.jpg.webp"
        alt=""
      />
    </div>
  </section>

  <section>
    <div class="flex_card">
      <div class="card">
        <div class="tag">GENERAL</div>
        <h1>Sour Patch Watermelon Cucumber Cooler</h1>
        <p>
          I was walking through the greenhouse today and couldn’t believe how
          gorgeous the cucumbers are! I was instantly inspired to create this
          Sour Patch Watermelon Cucumber Cooler recipe with some Halloween
          candy. This cooler is the perfect fall/spring drink for your inner
          child, and I hope you enjoy it as much as I did!
        </p>
      </div>
      <img
        src="/assets/images/Sour-Patch-Watermelon-Cucumber-Cooler-min.jpeg.webp"
        alt=""
      />
    </div>
  </section>
  <section>
    <div class="flex_card">
      <div class="card">
        <div class="tag">GENERAL</div>
        <h1>The Future of Farming is Vertical</h1>
        <p>
          Farming technology from space might just save the world.
          <br />
          Traditional agriculture, where food crops are grown in the ground in
          large fields, is how the world has fed itself for 12,000 years. Before
          that, early humans hunted and scavenged food from wild plants.
        </p>
      </div>
      <img src="/assets/images/The-Future-of-Farming.jpeg.webp" alt="" />
    </div>
  </section>
</div>
