<!--footer-->
<footer>
  <div class="padding_4xL">
    <div class="flex">
      <section class="flex-content padding_1x">
        <h3>Newsletter</h3>
        <p>You can trust us. we only send promo offers,</p>
        <fieldset [formGroup]="emailForm" class="fixed_flex border-r">
          <input
            type="email"
            name="newsletter"
            placeholder="Your Email Address"
            formControlName="email"
          />
          <button class="btn btn_2" (click)="subscribe()">Subscribe</button>
        </fieldset>
      </section>
      <section class="flex-content padding_1x">
        <h3>Features</h3>
        <a href="#">Jobs</a>
        <a href="#">Brand Assets</a>
        <a href="#">Investor Relations</a>
        <a href="#">Terms of Service</a>
      </section>
      <section class="flex-content padding_1x">
        <h3>Resources</h3>
        <a href="#">Guides</a>
        <a href="#">Research</a>
        <a href="#">Experts</a>
        <a href="#">Agencies</a>
      </section>
      <section class="padding_1x folow">
        <h2>Follow Us</h2>
        <div class="flex-items">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <button class="btn" (click)="navigateTo('blog')">
          <span>Lern More</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
      </section>
    </div>
  </div>
  <div class="copyright">
    <section class="">
      <p>Copyright ©2023 All rights reserved || @SKYFARMS</p>
    </section>
  </div>
</footer>
