<app-navbar></app-navbar>
<section class="main_section">
  <div class="text">
    <div class="center">
      <h1>
        Our Patented, Aeroponic Technology makes growing
        <span class="light_green">food easier than ever.</span>
      </h1>
      <p>
        We bring Real Local Food Production to people and places that you never
        thought possible before
      </p>
      <button class="btn">
        <span>Lern More</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="side_images">
    <img
      class="main_img"
      src="/assets/images/hand-holding-lettuce.jpg.webp"
      alt=""
    />
    <img class="upper_img" src="/assets/images/wall-planters.jpg.webp" alt="" />
    <img class="lower_img" src="/assets/images/roof-planters.jpg.webp" alt="" />
  </div>
</section>
<section class="main_section second_section">
  <div class="side_img">
    <img class="img" src="/assets/images/gardener-portrait.jpg.webp" alt="" />
  </div>
  <div class="continer">
    <div class="context">
      <h1>What we do</h1>
      <p>
        Copiana is an Atlanta-based company dedicated to providing unique
        amenities and sustainable solutions that differentiate your property and
        distinguish you from the competition.
      </p>
      <p>
        Build community engagement for your tenants in commercial, residential,
        and retail spaces with ease. Our coordinators create events and farmers’
        markets for your tenants – you don’t have to lift a finger!
      </p>
      <button class="btn">
        <span>Contact Us</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

      <img src="/assets/images/plate.png" class="left_img" alt="" />
      <img src="/assets/images/greens.png" class="right_img" alt="" />
    </div>
  </div>
</section>
<section class="full-img">
  <img src="/assets/images/column-planters.jpg.webp" alt="" />
</section>
<section>
  <app-image-slider></app-image-slider>
</section>
