<div class="homepage">
  <app-navbar></app-navbar>
  <section class="main_section">
    <div class="text">
      <div class="center">
        <h1>
          Our Patented, Aeroponic Technology makes growing
          <span class="light_green">food easier than ever.</span>
        </h1>
        <p>
          We bring Real Local Food Production to people and places that you
          never thought possible before
        </p>
        <button class="btn">
          <span>Lern More</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="side_images">
      <img
        class="main_img"
        src="/assets/images/hand-holding-lettuce.jpg.webp"
        alt=""
      />
      <img
        class="upper_img"
        src="/assets/images/wall-planters.jpg.webp"
        alt=""
      />
      <img
        class="lower_img"
        src="/assets/images/roof-planters.jpg.webp"
        alt=""
      />
    </div>
  </section>
  <section class="main_section second_section green-bg">
    <div class="side_img">
      <img class="img" src="/assets/images/gardener-portrait.jpg.webp" alt="" />
    </div>
    <div class="continer">
      <div class="context">
        <h1>What we do</h1>
        <p>
          Copiana is an Atlanta-based company dedicated to providing unique
          amenities and sustainable solutions that differentiate your property
          and distinguish you from the competition.
        </p>
        <p>
          Build community engagement for your tenants in commercial,
          residential, and retail spaces with ease. Our coordinators create
          events and farmers’ markets for your tenants – you don’t have to lift
          a finger!
        </p>
        <button class="btn">
          <span>Contact Us</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <img src="/assets/images/plate.png" class="left_img" alt="" />
        <img src="/assets/images/greens.png" class="right_img" alt="" />
      </div>
    </div>
  </section>
  <section class="full-img">
    <img src="/assets/images/column-planters.jpg.webp" alt="" />
  </section>
  <section class="main_section section_card">
    <div class="card">
      <div class="text">
        <h1>
          Events That Drive
          <span class="light_green">Community.</span>
        </h1>
        <br />
        <p>
          Copiana creates seamless events on your property designed to delight
          your tenants every time. Our coordinators strive to create different
          quarterly events that accentuate your monthly harvests, such as coat
          drives, lemonade stands, and Mother’s Day flowers.
        </p>
        <br />
        <p>
          Our team is continuously creating nutritional materials to share with
          your clients, such as farm-fresh recipes, informative monthly
          newsletters, virtual lunch and learns, health blogs, and engaging
          videos.
        </p>
      </div>
      <app-image-slider></app-image-slider>
    </div>
  </section>
  <section class="grid_section">
    <div class="text">
      <h1>Philanthropy</h1>
      <br />
      <p>
        Our fight is for Food Justice and Environmental Justice. Because
        Sustainability with no Justice…isn’t.
      </p>
      <br />
      <p>
        Through our partnership with City of Refuge, Copiana is working to help
        solve neighborhood disparities in access to healthy food. Because
        everyone deserves access to fresh, healthy produce.
      </p>
    </div>
    <div class="side_img">
      <img
        src="https://copiana.com/wp-content/themes/copianacom/public/images/home/philanthropy/woman-selling-vegetables.jpg.webp"
        alt=""
      />
    </div>
    <div class="bottom_img">
      <img
        src="https://copiana.com/wp-content/themes/copianacom/public/images/home/philanthropy/copiana-produce.jpg.webp"
        alt=""
      />
    </div>
    <div class="logo">
      <img src="/assets/images/brandFullName.png" height="32" alt="image" />
    </div>
  </section>
  <section class="center_text">
    <h1>Our Clients</h1>
    <p>
      Have you seen us around town?
      <span class="light_green">Contact us</span> today to join the vertical
      farming movement!
    </p>
  </section>
</div>
